{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">

        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.25 6c.398 0 .75.352.75.75 0 .414-.336.75-.75.75-1.505 0-7.75 0-7.75 0v12h17v-8.749c0-.414.336-.75.75-.75s.75.336.75.75v9.249c0 .621-.522 1-1 1h-18c-.48 0-1-.379-1-1v-13c0-.481.38-1 1-1zm1.521 9.689 9.012-9.012c.133-.133.217-.329.217-.532 0-.179-.065-.363-.218-.515l-2.423-2.415c-.143-.143-.333-.215-.522-.215s-.378.072-.523.215l-9.027 8.996c-.442 1.371-1.158 3.586-1.264 3.952-.126.433.198.834.572.834.41 0 .696-.099 4.176-1.308zm-2.258-2.392 1.17 1.171c-.704.232-1.274.418-1.729.566zm.968-1.154 7.356-7.331 1.347 1.342-7.346 7.347z" fill-rule="nonzero"/></svg> Edit</a>
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.regno}}</p>
              <p class="dev__title">{{profile.creditsearned}}</p>
            </div>
          </div>
        </div>

        
      </div>

      {% if isAccepted %}

      <h4>Accepted</h4>

      <div class="grid grid--two">
        {% for intern in interns %}
    {% if intern.reviewed == True and intern.accepted == True %}
    <div class="column">
      <div class="card text-center">
        <div class="card__body dev">
          <h6> {{intern.name}} </h6>
          
          <p>Permission Letter: <a href="{{ intern.permission.url }}" download>Download </a>  </p> 
          <p>Certificate Letter: <a href="{{ intern.certificate.url }}" download>Download </a>  </p> 
          <p>Report Letter: <a href="{{ intern.report.url }}" download>Download  </a> </p>
          <p>{{intern.submissiondate.name}}</p>
          <p>{{intern.creditsrewarded}}</p>  
        </div>
      </div>
    </div>
    {% endif %}
{% endfor %}
      </div>

      {% endif %}

      {% if isNotReviewed %}

      <h4>Unreviewed</h4>

      <div class="grid grid--two">
        {% for intern in interns %}
            {% if intern.reviewed == False %}
            <div class="column">
              <div class="card text-center">
                <div class="card__body dev">
                  <h6> {{intern.name}} </h6>
                  
                  <p>Permission Letter: <a href="{{ intern.permission.url }}" download>Download </a>  </p> 
                  <p>Certificate Letter: <a href="{{ intern.certificate.url }}" download>Download </a>  </p> 
                  <p>Report Letter: <a href="{{ intern.report.url }}" download>Download  </a> </p>
                  <p>{{intern.submissiondate.name}}</p>
                  <p>{{intern.creditsrewarded}}</p>  
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
      </div>

      {% endif %}

      {% if isRejected %}

      <h4>Rejected</h4>

      <div class="grid grid--two">
        {% for intern in interns %}
            {% if intern.reviewed == True and intern.accepted == False %}
            <div class="column">
              <div class="card text-center">
                <div class="card__body dev">
                  <h6> {{intern.name}} </h6>
                  
                  <p>Permission Letter: <a href="{{ intern.permission.url }}" download>Download </a>  </p> 
                  <p>Certificate Letter: <a href="{{ intern.certificate.url }}" download>Download </a>  </p> 
                  <p>Report Letter: <a href="{{ intern.report.url }}" download>Download  </a> </p>
                  <p>{{intern.submissiondate.name}}</p>
                  <p>{{intern.creditsrewarded}}</p>  
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
      </div>

      {% endif %}
      
    </div>
  </main>

{% endblock %}
