{% extends 'main.html' %}


{% block content %}

{% if request.user.profile.creditsearned == 3 %}

    <main class="inbox my-xl">
        <div class="content-box">
            <h4 class="inbox__title"><span>You have already reached maximum credits</span></h4>
        </div>
    </main>
    

{% else %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591zm-.289 7.563v-5.446l-3.522 2.719z" fill-rule="nonzero"/></svg></i></a>
            <br>

            <h6>Note</h6>
            <p>Please ensure that the name provided corresponds to the company or organization of the intern provider.</p>
            <p>Permission and report files are not mandatory. If available upload it; otherwise you can leave that empty.</p>
            <p>File naming convention:
                <br>- The permission letter should be named as "&lt;Regno&gt;_&lt;companyname&gt;_permission.pdf"
                <br>- The certificate letter should be named as "&lt;Regno&gt;_&lt;companyname&gt;_certificate.pdf"
                <br>- The report letter should be named as "&lt;Regno&gt;_&lt;companyname&gt;_report.pdf"
                </p>

            <form class="form" action="{% url 'apply' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Input:Text -->
                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endif %}

{% endblock %}
