{% extends 'main.html' %}

{% block content %}


  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">Intern Records</h3> 
      <h6><a href="{% url 'export_to_excel' %}">Download</a></h6>
      <ul class="messages">
        {% for profile in profiles %}
    <li class="message message--unread">
        <a href="{% url 'user-profile' profile.id %}"><span class="message__author">{{ profile.regno }}</span></a>
        <a href="{% url 'user-profile' profile.id %}"><span class="message__author">{{ profile.name }}</span></a>

        {% for intern in filtered_interns|get_item:profile.id %}
            <br>
            <span class="message__author">{{ intern.name }}</span> <br>
            {% if intern.creditsrewarded == 0 %}
                <span class="message__author">Unreviewed</span>
            {% else %}
                <span class="message__author">Credits: {{ intern.creditsrewarded }}</span>
            {% endif %}
            <p>Certificate Letter: <a href="{{ intern.certificate.url }}" download>Download </a>  <a href="{{ intern.certificate.url }}" target="_blank" class="card-link"> Open</a></p> 
            <p>Permission Letter: <a href="{{ intern.permission.url }}" download>Download </a>  <a href="{{ intern.permission.url }}" target="_blank" class="card-link"> Open</a></p>                
            <p>Report Letter: <a href="{{ intern.report.url }}" download>Download  </a> <a href="{{ intern.report.url }}" target="_blank" class="card-link"> Open</a></p>
        {% endfor %}
    </li> 
{% endfor %}

      </ul>
    </div>
  </main>

      


{% endblock %}